
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeDetail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   <img [src]="recipeDetail.imagePath" [alt]="recipeDetail.name" class="img-responsive"  height="200px" width="200px">
  </div>
</div>
<br>
<div class="row">
<div class="col-xs-12">
  <!-- <div class="btn-group open">
    <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Shopping List</a></li>
      <li><a href="#">Edit Recipe</a></li>
      <li><a href="#">Delete Recipe</a></li>
    </ul>
  </div> -->
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Manage <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a (click)="onAddToShoppingList()" style="cursor: pointer;" class="dropdown-item" >Shopping List</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="onEditRecipe()">Edit Recipe</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="OnDeleteRecipe()">Delete Recipe</a></li>
    </ul>
  </div>
</div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipeDetail.description}}
  </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipeDetail.ingredients">{{ingredient.name}} - {{ingredient.amount}}</li>
          </ul>
        </div>
    </div>
